<div class="col-md-10">
	<div class="col-sm-3">
		<h4 class="text-center">Wizard</h4>
		<h5>Attributes</h5>
		<table class="table">
			<tr>
				<td>Strength</td>
				<td>10</td>
				<td>(+0)</td>
			</tr>
			<tr>
				<td>Dexterity</td>
				<td>15</td>
				<td>(+2)</td>
			</tr>
			<tr>
				<td>Constitution</td>
				<td>14</td>
				<td>(+2)</td>
			</tr>
			<tr>
				<td>Intelligence</td>
				<td>16</td>
				<td>(+3)</td>
			</tr>
			<tr>
				<td>Wisdom</td>
				<td>12</td>
				<td>(+1)</td>
			</tr>
			<tr>
				<td>Charisma</td>
				<td>8</td>
				<td>(-1)</td>
			</tr>
		</table>
		<h5>Skills</h5>
		<table class="table">
			<tr>
				<td>-1</td>
				<td>Acrobatics</td>
				<td>(Dex)</td>
			</tr>
		</table>
		<button ng-click="UC.createChar('Wizard')">Select the Wizard</button>
	</div>
	<div class="col-sm-3">
		<h4 class="text-center">Fighter</h4>
		<h5>Attributes</h5>
		<table class="table">
			<tr>
				<td>Strength</td>
				<td>16</td>
				<td>(+3)</td>
			</tr>
			<tr>
				<td>Dexterity</td>
				<td>9</td>
				<td>(-1)</td>
			</tr>
			<tr>
				<td>Constitution</td>
				<td>15</td>
				<td>(+2)</td>
			</tr>
			<tr>
				<td>Intelligence</td>
				<td>11</td>
				<td>(+0)</td>
			</tr>
			<tr>
				<td>Wisdom</td>
				<td>13</td>
				<td>(+1)</td>
			</tr>
			<tr>
				<td>Charisma</td>
				<td>14</td>
				<td>(+2)</td>
			</tr>
		</table>
		<button ng-click="UC.createChar('Fighter')">Select the Fighter</button>
	</div>
	<div class="col-sm-3">
		<h4 class="text-center">Cleric</h4>
		<h5>Attributes</h5>
		<table class="table">
			<tr>
				<td>Strength</td>
				<td>14</td>
				<td>(+2)</td>
			</tr>
			<tr>
				<td>Dexterity</td>
				<td>8</td>
				<td>(-1)</td>
			</tr>
			<tr>
				<td>Constitution</td>
				<td>15</td>
				<td>(+2)</td>
			</tr>
			<tr>
				<td>Intelligence</td>
				<td>10</td>
				<td>(+0)</td>
			</tr>
			<tr>
				<td>Wisdom</td>
				<td>16</td>
				<td>(+3)</td>
			</tr>
			<tr>
				<td>Charisma</td>
				<td>12</td>
				<td>(+1)</td>
			</tr>
		</table>
		<button ng-click="UC.createChar('Cleric')">Select the Cleric</button>
	</div>
	<div class="col-sm-3">
		<h4 class="text-center">Rouge</h4>
		<h5>Attributes</h5>
		<table class="table">
			<tr>
				<td>Strength</td>
				<td>8</td>
				<td>(-1)</td>
			</tr>
			<tr>
				<td>Dexterity</td>
				<td>16</td>
				<td>(+3)</td>
			</tr>
			<tr>
				<td>Constitution</td>
				<td>12</td>
				<td>(+1)</td>
			</tr>
			<tr>
				<td>Intelligence</td>
				<td>13</td>
				<td>(+1)</td>
			</tr>
			<tr>
				<td>Wisdom</td>
				<td>10</td>
				<td>(+0)</td>
			</tr>
			<tr>
				<td>Charisma</td>
				<td>16</td>
				<td>(+3)</td>
			</tr>
		</table>
		<button ng-click="UC.createChar('Rouge')">Select the Rouge</button>
	</div>
</div>